# All the dependencies will be specified here
# pip install -r requirements.txt (for bulk installation)
# Even if we don't provide version, the latest version will get installed

Flask
gunicorn #For Cloud Environment
requests

